<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-27.2462.2.0" newVersion="27.2462.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ITradeService">
          <reliableSession enabled="true" />
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8000/Chating" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ITradeService" contract="ServiceReference1.ITradeService"
        name="NetTcpBinding_ITradeService" />
    </client>
  </system.serviceModel>
</configuration>